.log
.logs/*
*.logs/
__pycache__
*.pyc
*.pyo
*.zip
*.tar
*.tar.gz
*.pt
.venv
*venv
__MACOSX
.DS_Store
*Zone.Identifier
Cache
.vscode
*.env
Data
poetry.lock
tool.txt
*log.json
Lib
Scripts
share
CACHEDIR.TAG
pyvenv.cfg
Include
etc
*.venv
profile_output*
Videos